@import "tailwindcss";

.Header{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Footer{
    width:100%;
    height:10vh;
    background-color: red;
}
button{
    min-height:30px;
    border:1px solid;
    width:80px;
    cursor: pointer;
}
input{
    border:1px solid black;
}



/* HTML: <div class="loader"></div> */
.loader {
    --s: 15px;
    width: calc(var(--s)*2.33);
    aspect-ratio: 1;
    display: flex;
    justify-content: space-between;
    animation: l29-0 1s infinite;
}
.loader::before,
.loader::after {
    content: "";
    width: var(--s);
    --_g: no-repeat radial-gradient(farthest-side,#000 94%,#0000);
    background:
            var(--_g) top,
            var(--_g) bottom;
    background-size: 100% var(--s);
    transform-origin: 50% calc(100% - var(--s)/2);
    animation: inherit;
    animation-name: l29-1;
}
.loader::after {
    --_s:-1;
}
@keyframes l29-0 {
    100% {transform:translateY(calc(var(--s) - 100%))}
}
@keyframes l29-1 {
    100% {transform:rotate(calc(var(--_s,1)*-180deg))}
}

    /*body {*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    min-height: 100vh;*/
    /*    background-size: cover;*/
    /*    background-position: center;*/
    /*}*/

/* HTML: <div class="loader"></div> */
.factory {
    width: 90px;
    height: 30px;
    box-shadow: 0 3px 0 #fff;
    --g:repeat-x repeating-linear-gradient(90deg,#ccc 0 16px,#0000 0 18px,#ccc 0 34px,#0000 0 100%);
    background: var(--g),var(--g);
    background-size: 60px 14px,60px 14px;
    animation: l8 1s infinite linear;
}
@keyframes l8 {
    0%   {background-position:0    0,0    100%}
    100% {background-position:60px 0,60px 100%}
}

    /*.wrapper {*/
    /*    margin-top: 40px;*/
    /*    width: 420px;*/
    /*    background-color: transparent;*/
    /*    border: 2px solid rgba(255, 255, 255, 0.2);*/
    /*    backdrop-filter: blur(15px);*/
    /*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
    /*    color: #fff;*/
    /*    border-radius: 16px;*/
    /*    padding: 20px 30px;*/
    /*}*/

    /*.wrapper h1 {*/
    /*    font-size: 30px;*/
    /*    text-align: center;*/
    /*}*/

    /*.wrapper .input-box {*/
    /*    width: 100%;*/
    /*    height: 50px;*/
    /*    position: relative;*/
    /*    margin: 30px 0;*/
    /*}*/

    /*.input-box input {*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    background: transparent;*/
    /*    outline: none;*/
    /*    border: 2px solid rgba(255, 255, 255, 0.2);*/
    /*    border-radius: 40px;*/
    /*    font-size: 16px;*/
    /*    color: #fff;*/
    /*    padding: 20px 45px 20px 20px;*/
    /*}*/

    /*.input-box input::placeholder {*/
    /*    color: #fff;*/
    /*}*/

    /*.input-box i {*/
    /*    position: absolute;*/
    /*    right: 20px;*/
    /*    top: 50%;*/
    /*    transform: translateY(-50%);*/
    /*    font-size: 20px;*/
    /*}*/

    /*.wrapper .remember-forgot {*/
    /*    display: flex;*/
    /*    justify-content: space-between;*/
    /*    font-size: 14px;*/
    /*    margin: -15px 0 15px;*/
    /*}*/

    /*.remember-forgot label input {*/
    /*    accent-color: #fff;*/
    /*    margin-right: 3px;*/
    /*}*/

    /*.remember-forgot a {*/
    /*    color: #fff;*/
    /*    text-decoration: none;*/
    /*}*/

    /*.remember-forgot a:hover {*/
    /*    text-decoration: underline;*/
    /*}*/

    /*.wrapper .btn {*/
    /*    width: 100%;*/
    /*    height: 45px;*/
    /*    background: #fff;*/
    /*    border: none;*/
    /*    outline: none;*/
    /*    border-radius: 40px;*/
    /*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    /*    cursor: pointer;*/
    /*    font-size: 16px;*/
    /*    color: #333;*/
    /*    font-weight: 600;*/
    /*}*/

    /*.wrapper .register-link {*/
    /*    text-align: center;*/
    /*    font-size: 14px;*/
    /*    margin: 20px 0 15px;*/
    /*}*/

    /*.wrapper .register-link p a {*/
    /*    color: #fff;*/
    /*    text-decoration: none;*/
    /*    font-weight: 600;*/
    /*}*/

    /*.wrapper .register-link p a:hover {*/
    /*    text-decoration: underline;*/
    /*}*/
